{{#partial "content"}}
    <p>Restaurant:</p>
    <p>{{ restaurant.name }}</p>
    <h5>Address:</h5>
    <p> {{ restaurant.address }}</p>
    <h5>Phone:</h5>
    <p> {{ restaurant.phone }}</p>
    <h5>Website:</h5>
    <p> {{ restaurant.website }}</p>
    <h5>Email:</h5>
    <p> {{ restaurant.email }}</p>
    <p>
        <a href="/posts/{{post.id}}/ask">Find food!</a><br>
    </p>
{{/partial}}

{{> layout.hbs}}