{{#partial "content"}}

    {{#if deletedRestaurantName}}
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{deletedRestaurantName}}</strong> deleted.
        </div>
    {{else if addedRestaurantName}}
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{addedRestaurantName}}</strong> added.
        </div>
    {{/if}}

    <h1>Restaurants:</h1>

    {{#if allRestaurants}}
        {{#each allRestaurants }}
            <p>{{ content }} <a href="/restaurant/{{id}}">{{name}}</a></p>
        {{/each}}
    {{else}}
        <p>No restaurants found!</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}