{{#partial "content"}}
    <p>Restaurant: {{ restaurant.name }}</p>
    <p>Address: {{ restaurant.address }}</p>
    <p>Phone: {{ restaurant.phone }}</p>
    <p>Website: {{ restaurant.website }}</p>
    <p>Email: {{ restaurant.email }}</p>
    <p>
        <a href="/restaurants/{{restaurant.id}}/ask">Find food!</a><br>
    </p>
{{/partial}}

{{> layout.hbs}}