{{#partial "content"}}
    
    {{> detailsHeader.hbs }}
    
    <p>Restaurant: {{object.name}}</p>
    <p>Address: {{object.address}}, zip: {{object.zipcode}}</p>
    <p>Phone: {{object.phone}}</p>
    <p>Website: <a href="http://{{object.website}}" target="_blank">{{object.website}}</a></p>
    <p>Email: {{object.email}}</p>
    {{#if foods}}
        <p>Serves:
        {{#each foods}}
            <button type="button" class="btn btn-default"><a href="/food/{{id}}">{{name}}</a></button>
        {{/each}}
        </p>
    {{/if}}

    {{> detailsFooter.hbs }}

    <p>
        <a href="/restaurant/{{object.id}}/ask" class="btn btn-primary">Find food!</a><br>
    </p>
{{/partial}}

{{> layout.hbs}}