{{#partial "content"}}

    {{> formHeader.hbs}}

        <div class="form-group">
            <div class="col-xs-4">
                <label for="name">Name</label>
                <input id="name" name="name" type="text" class="form-control" value="{{edit.name}}"><br>
                <label for="address">Address</label>
                <input id="address" name="address" type="text" class="form-control" value="{{edit.address}}"><br>
                <label for="zipcode">Zipcode</label>
                <input id="zipcode" name="zipcode" type="text" class="form-control" value="{{edit.zipcode}}"><br>
                <label for="phone">Phone</label>
                <input id="phone" name="phone" type="text" class="form-control" value="{{edit.phone}}"><br>
                <label for="website">Website</label>
                <input id="website" name="website" type="text" class="form-control" value="{{edit.website}}"><br>
                <label for="email">Email</label>
                <input id="email" name="email" type="text" class="form-control" value="{{edit.email}}"><br>
                <label for="foods">Foods served</label>
                {{#each foods}}
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="food" id="{{id}}" value="{{id}}"/> {{name}}
                        </label>
                    </div>
                {{/each}}
                {{> formFooter.hbs}}
            </div>
        </div>
    </form>

{{/partial}}

{{> layout.hbs}}
